#nav
{
    background-color: gray;
    width: 100px;
    height: 10000px;
    float: left;
    text-align: center;
}

#content
{
    width: 800px;
    height: 100vh;
    float: left;
    margin-left: 10px;
}
a:visited
{
    color: black;
    
}
a:link
{
    color: black;
   
}

#square
{
    height: 200px;
    width: 200px;
    background-color: aqua;
    float: left;
}